:root {
  /* COLORS */
  ---black: #252525;
  ---white: #FFFFFF;
  ---primary: #b43218;
  ---secondary: #0e8a2d;
  ---padding: calc(var(--view-padding) * 1) calc(var(--view-padding) * 10);
}

html {
  font-size: 16px!important;
}
body, section {
  padding: 0!important;
  margin: 0!important;
  background-color: var(---white)!important;
}
main {
  padding-top: 0;
}
header {
  padding: var(---padding)!important;
}
p {
  line-height: 150%!important;
}
a.btn {
  color: var(--primary);
}
figcaption {
  text-align: center;
  font-style: italic!important;
  color: var(--dark-gray);
}
#toggle-dark { 
  visibility: hidden;
}



.intro .head {
  color: var(---secondary);
}
.intro .head > div {
  padding: var(---padding);
}
.intro .head h1 { 
  text-transform: uppercase;
  font-size: calc(var(--font-size-biggest) * 1.5);
  font-weight: bold;
  padding-top: var(--large-space);
}
.intro .head h2 { 
  font-size: var(--font-size-huge);
  font-weight: 500;
}

.intro .head a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.intro .head a img {
  height: var(--large-space);
  width: auto;
  border-radius: 50%;
  margin-right: var(--small-space);
  border: 1px solid var(--dark-gray);
  padding: 2px;
}
.intro .head a span {
  color: var(--dark-gray);
  font-size: var(--font-size-extra-small);
}

.intro .footer {
  display: flex;
  justify-content: space-between;
  padding: 0 calc(var(--view-padding) * 10);

  background-image: url('/assets/images/landing/web-sustainability/grass.webp');
  background-size: contain;
  align-items: center;
  height: 40rem;
}

.intro .footer .left {
  position: relative;
  width: 50%;
  height: 100%;
}
.intro .footer .opacity {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(---secondary);
  opacity: 0.4;
}
.intro .footer .text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.intro .footer .text span {
  background-color: var(---primary);
  color: var(---white);
  font-size: var(--font-size-biggest);
  display: block;
  margin: 3rem;
  padding: 1rem;
  display: table;
}
.intro .footer .text span:nth-child(1) {
  font-weight: bold;
}
.intro .footer .text span:nth-child(2) {
  font-style: italic;
}
.intro .footer .text span:nth-child(3) {
  text-transform: uppercase;
}
.intro .footer .text span:nth-child(4) {

}
.intro .footer .text span:nth-child(5) {
  font-weight: 100;
  text-decoration: underline;
}

.intro .footer .right {
  position: relative;
  width: 33%;
}
.intro .footer .blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(1);
}
.intro .footer .cta {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.intro .footer img {
  width: 100%;
  height: auto;
  position: relative;
}
.intro .footer .cta {
  margin-top: var(--x-large-space);
  background-color: white;
  position: relative;
  padding: 1rem;
  border: 1px solid var(---primary);
  border-bottom: 1rem solid var(---primary);
  box-shadow: 0px 5px 40px 15px white;
}


.cta {
  background-color: rgba(249,98,33,0.1);
}
.cta h2 {
  text-align: center;
  margin-bottom: var(--x-large-space);
  color: var(---primary);
}
.cta > div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.cta a {
  display: block;
  font-size: var(--font-size-huge);
  margin-top: var(--x-large-space);
  color: var(---primary);
}
.cta > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.cta > div > div::before {
  content: ' ';
  display: block;
  height: var(--xx-large-space);
  width: var(--xx-large-space);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: var(--normal-space);
}
.cta > div > div:nth-child(1)::before {
  background-image: url('/assets/images/icons/svg/phone-solid-red.svg');
}
.cta > div > div:nth-child(2)::before {
  background-image: url('/assets/images/icons/svg/envelope-solid-red.svg');
}


.near {
  padding: var(---padding)!important;
  margin: calc(var(--xx-large-space) * 2) auto!important;
  background-color: rgba(2, 89, 139, 0.1)!important;
  border-top: 1px solid rgb(2, 89, 139);
  text-align: center;
  position: relative;
}
.near h2 {
  text-align: center;
}
.near::after {
  content: ' ';
  display: block;
  height: var(--x-large-space);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/assets/images/landing/friuli.webp');
  top: 0;
  right: 0;
  width: 4rem;
  position: absolute;
  height: 4rem;
  padding: var(--xx-small-space);
}


.features {
  padding: var(---padding)!important;
  margin: calc(var(--xx-large-space) * 2) auto!important;
}
.features h2 {
  font-weight: bold;
}
.features ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.features li {
  list-style: none;
  width: 24%;
}
.features li h2::before {
  content: ' ';
  display: block;
  height: var(--x-large-space);
  width: var(--x-large-space);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: var(--normal-space);
}
.features li:nth-child(1) h2::before {
  background-image: url('/assets/images/icons/svg/universal-access-solid-red.svg');
}
.features li:nth-child(2) h2::before {
  background-image: url('/assets/images/icons/svg/searchengin-brands-solid-red.svg');
}
.features li:nth-child(3) h2::before {
  background-image: url('/assets/images/icons/svg/rocket-solid-red.svg');
}
.features li:nth-child(4) h2::before {
  background-image: url('/assets/images/icons/svg/person-walking-dashed-line-arrow-right-solid-red.svg');
}


.services {
  width: var(--l-content-width);
  margin: 0 auto;
}
.services h3 {
  text-align: center;
  margin-top: var(--xx-large-space);
  border-top: 1px solid var(--gray);
  padding: var(--xx-large-space);
}
.services ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.services li {
  width: 20%;
}
.services a {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .4s ease-out;
}
.services a:hover {
  transform: scale(1.1);
  filter: brightness(100%);
}
.services img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(---primary);
}
.services span {
  text-transform: uppercase;
  margin-top: var(--x-small-space);
  text-align: center;
}



/* RESPONSIVE */
@media screen and (max-width: 1680px) {
  :root {
    ---padding: calc(var(--view-padding) * 2) calc(var(--view-padding) * 5);
  }
  .intro .footer {
    padding: 0 calc(var(--view-padding) * 5);
  }
}

@media screen and (max-width: 1366px) {
  html {
    font-size: 14px!important;
  }
  .intro .head a span {
    font-size: var(--font-size-small);
  }
}

@media screen and (max-width: 1280px) {
  :root {
    ---padding: calc(var(--view-padding) * 2) calc(var(--view-padding) * 2);
  }
  .intro .footer {
    align-items: center;
    padding: 0 calc(var(--view-padding)* 3);
    height: 35rem;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 13px!important;
  }
  .intro .footer {
    height: 28rem;
  }
  .intro .footer .right {
    width: 45%;
  }
  .intro .footer .text span {
    margin: 2rem;
    padding: 1rem
  }
}

@media screen and (max-width: 768px) {
  :root {
    ---padding: var(--view-padding) var(--view-padding);
  }
  html {
    font-size: 12px!important;
  }
  .intro .footer {
    flex-direction: column;
    height: initial;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .intro .footer .left {
    width: 100%;
  }
  .intro .footer .right {
    width: 100%;
  }
  .intro .footer .text {
    position: relative;
  }
  .intro .footer .opacity {
    background-color: transparent;
  }
  .near::after {
    position: relative;
    top: initial;
    right: initial;
    margin: 1rem auto;
  }
  .features, .near {
    margin: 4rem auto!important;
    padding: 0!important;
    width: 92% !important;
  }
  .features ul { 
    flex-direction: column;
  }
  .features li {
    width: 100%;
  }
  .features h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .features li h2::before {
    height: var(--xx-large-space);
    width: var(--xx-large-space);;
  }
  .intro .head h1 {
    font-size: var(--font-size-biggest);
  }

  .services ul {
    flex-direction: column;
  }
  .services li {
    width: 80%;
    margin-bottom: calc(var(--xx-large-space) * 2)
  }

}
