footer {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-small);
}
footer section {
  padding: var(--x-small-space) var(--view-padding);
}

footer section:nth-child(1) {
  background-color: var(--lighter-gray);
  text-align: center;
  padding: 0;
  padding-top: 8px;
}

footer section:nth-child(2) {
  text-align: center;
}

footer a {
  font-weight: 500;
}