div(class="preview")
  div(class="badge eng") #[a(href="/engineering", title="Engineering") Engineering]
  h2
    a(href="/architettura-del-sw-definizione-obiettivi", title="Architettura del Software: definizione e obiettivi") Architettura del Software: definizione e obiettivi
  a(href="/architettura-del-sw-definizione-obiettivi", title="Architettura del Software: definizione e obiettivi") 
    img(src="/assets/images/post/002-post-eng-architettura-del-software/post-eng-architettura-del-software-min.png", alt="Architettura del Software: definizione e obiettivi")
  p Tutti abbiamo almeno una idea vaga di cosa si intende per "Architettura del Software", ma penso che solo alcuni abbiano in mente concetti, pratiche e vantaggi precisi che ne derivano.
  h3 Architettura del Software: una definizione
  p Con Architettura del software ci riferiamo alla struttura di un sistema software e alla progettazione delle interfacce dei suoi componenti; comprende le decisioni di progettazione che determinano quali parti compongono l'applicazione e come queste interagiscono e lavorano assieme per raggiungere gli obiettivi richiesti. Queste decisioni includono la struttura del filesystem (i file e le cartelle), la scelta dei framework da adottare, la definizione delle interfacce tra le diverse componenti che costituiscono l'applicazione, la gestione dei dati, la distribuzione delle responsabilità tra i moduli e altro ancora. #[a(href="/architettura-del-sw-definizione-obiettivi", title="Architettura del Software: definizione e obiettivi") Continua...]
  div(class="published") Pubblicato il <time datetime="2023-11-24">24 novembre 2023</time>