div(class="preview")
  div(class="badge eng") #[a(href="/engineering", title="Engineering") Engineering]
  h2
    a(href="/architettura-del-sw-definizione-obiettivi", title="Architettura del Software: definizione e obiettivi") Architettura del Software: definizione e obiettivi
  a(href="/architettura-del-sw-definizione-obiettivi", title="Architettura del Software: definizione e obiettivi") 
    picture 
      source(media="(min-width: 769px)", srcset="/assets/images/post/002-post-eng-architettura-del-software/post-eng-architettura-del-software-s-min.png")
      source(media="(min-width: 320px)", srcset="/assets/images/post/002-post-eng-architettura-del-software/post-eng-architettura-del-software-m-min.png")
      img(loading="lazy" width="512" height="340" src="/assets/images/post/002-post-eng-architettura-del-software/post-eng-architettura-del-software-min.png", alt="Architettura del Software: definizione e obiettivi")
      
  p Tutti abbiamo almeno una idea vaga di cosa si intende per "Architettura del Software", ma penso che solo alcuni abbiano in mente concetti, pratiche e vantaggi precisi che ne derivano.
  h3 Architettura del Software: una definizione
  p Con Architettura del Software ci riferiamo alla struttura di un sistema software e alla progettazione delle interfacce dei suoi componenti; comprende le decisioni di progettazione che determinano quali parti compongono l'applicazione e come queste interagiscono e lavorano assieme per raggiungere gli obiettivi richiesti. Queste decisioni includono la struttura del filesystem (i file e le cartelle), la scelta dei framework da adottare, la definizione delle interfacce tra le diverse componenti che costituiscono l'applicazione, la gestione dei dati, la distribuzione delle responsabilità tra i moduli e altro ancora. <br> Un'architettura ben progettata facilita la manutenzione, l'aggiornamento e l'aggiunta di funzionalità del software nel tempo ponendo la giusta attenzione ad aspetti quali: la scalabilità, la sicurezza, la manutenibilità e la flessibilità per garantire che il software possa crescere #[a(href="/architettura-del-sw-definizione-obiettivi", title="Architettura del Software: definizione e obiettivi") Continua...]
  div(class="published") Pubblicato il <time datetime="2023-11-24">24 novembre 2023</time>