div(class="preview")
  div(class="badge eng") #[a(href="/engineering", title="Engineering") Engineering]
  h2
    a(href="/architettura-del-sw-definizione-obiettivi", title="Architettura del Software: definizione e obiettivi") Architettura del Software: definizione e obiettivi
  a(href="/architettura-del-sw-definizione-obiettivi", title="Architettura del Software: definizione e obiettivi") 
    img(src="/assets/images/post/post-eng-architettura-del-software-min.png", alt="Architettura del Software: definizione e obiettivi")
  p Tutti abbiamo almeno una idea vaga di cosa si intende per "Architettura del Software", ma penso che solo alcuni abbiano in mente concetti, pratiche e vantaggi precisi che ne derivano.
  h3 Architettura del Software: una definizione
  p L'architettura del software si riferisce alla struttura di un sistema software e alla progettazione delle sue componenti; comprende le decisioni di progettazione che determinano come le diverse parti di un'applicazione interagiscono e lavorano insieme per raggiungere gli obiettivi richiesti. #[a(href="/architettura-del-sw-definizione-obiettivi", title="Architettura del Software: definizione e obiettivi") Continua...]
  div(class="published") Pubblicato il <time datetime="2023-11-24">24 novembre 2023</time>