#home main h1 {
  font-size: var(--font-size-biggest);
}

#home main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#home main section, #home main aside {
  width: 60%;
  border-right: 1px dashed var(--lighter-gray);
}

#home main .preview.analysis img {
  width: 100%;
  height: auto;
  max-width: initial;
}

#home main .viewall {
  margin: var(--xx-large-space) auto;
  display: flex;
  justify-content: center;
  width: 50%;
}

#home main .fb-page-wrap {
  width: 100%;
  margin: var(--x-large-space) 0;
  padding: var(--x-large-space) var(--normal-space);
  text-align: center;
  border-bottom: 1px solid var(--lighter-gray);
  border-top: 1px solid var(--lighter-gray);
}


@media screen and (max-width: 768px) {
  #home main aside {
    border-right: none;
  }
  #home main .preview:nth-child(n+9) {
    display: none;
  }
}