#home main h1 {
  font-size: var(--font-size-biggest);
}

#home main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#home main section, #home main aside {
  width: 60%;
  border-right: 1px dashed var(--lighter-gray);
}

#home main .preview.analysis img {
  width: 100%;
  height: auto;
  max-width: initial;
}
