div(class="preview")
  div(class="badge js") #[a(href="/javascript", title="JavaScript") JavaScript]
  h2
    a(href="/javascript-generator-definizione-esempi", title="Cosa sono i Generator in JavaScript? Scopri tutte le potenzialità dei Generatori!") Cosa sono i Generator in JavaScript? Scopri tutte le potenzialità dei Generatori!
  a(href="/javascript-generator-definizione-esempi", title="Cosa sono i Generator in JavaScript? Scopri tutte le potenzialità dei Generatori!") 
    picture 
      source(media="(max-width: 414px)", srcset="/assets/images/post/010-javascript-generator-definizione-esempi/javascript-generator-definizione-esempi-s.webp")
      source(media="(max-width: 768px)", srcset="/assets/images/post/010-javascript-generator-definizione-esempi/javascript-generator-definizione-esempi-m.webp")
      img(fetchpriority="high" width="1200" height="630" src="/assets/images/post/010-javascript-generator-definizione-esempi/javascript-generator-definizione-esempi-s.webp", alt="Cosa sono i Generator in JavaScript? Scopri tutte le potenzialità dei Generatori!")

  p I generatori JavaScript sono poco conosciuti all'interno del panorama degli sviluppatori Web, ma, una volta compreso il loro funzionamento, offrono un notevole vantaggio nella gestione del codice e del flusso di dati. Dai concetti di base ai casi più specifici, in questo articolo si descriveranno le caratteristiche salienti e si proporranno differenti esempi pratici questo particolare strumento. 

  h2 Introduzione 
  h3 Le funzioni generatrici in JavaScript
  p Le funzioni generatrici (generators) sono state introdotte con ECMAScript 6 (ES6), la loro particolarità principale è riferita al fatto che #[em l'esecuzione del loro codice può essere interrotta e ripresa più volte] generando e restituendo valori "intermedi" al metodo chiamante. Grazie alla loro capacità di sospendere e riprendere l'esecuzione, sono una scelta ottimale nel caso di iterazioni complesse, flussi di dati, implementazioni asincrone o quando si lavora con sequenze di valori o calcoli "on demand".
  h3 Differenza tra una funzione ordinaria e una funzione generatrice
  p A differenza di una normale funzione, che restituisce un solo valore al termine della sua esecuzione, #[em i generatori JavaScript restituiscono molteplici valori] mano a mano che il loro codice viene eseguito....  #[a(href="/javascript-generator-definizione-esempi", title=title) &lbrack;Continua&rbrack;]
  div(class="published") Pubblicato il <time datetime="2024-10-11">11 ottobre 2024</time>