div(class="preview")
  div(class="badge node") #[a(href="/nodejs", title="Node.js") Node.js]
  h2
    a(href="/node-setup-progetto", title="Setup di un progetto Node / Express") Setup di un progetto Node / Express
  a(href="/node-setup-progetto", title="Setup di un progetto Node / Express") 
    img(loading="lazy" src="/assets/images/post/003-node-setup-progetto/node-setup-progetto-min.png", alt="Setup di un progetto Node / Express")
  p Esistono tante guide per fare il setup di un progetto Node / Express, in questa vorrei però aggiungere la descrizione di qualche strumento e metodologia applicati in ambito professionale. Spero che questo contribuisca alla condivisione dell'articolo..
  h3 Cosa faremo
  p Procederemo al setup di un piccolo progetto Web, alla fine dell'articolo avremo un server in ascolto su una specifica rotta e un semplice messaggio testuale come risposta. La funzionalità è decisamente minima, ma sufficiente per illustrare alcuni degli strumenti e mettere in pratica certe metodologie di sviluppo che spesso troviamo applicate in ambienti di lavoro professionali. Come anticipato, non ci focalizzeremo sulla sola implementazione tecnica, ma agiremo a più ampio spetto introducento concetti e pratiche provenienti dall'ambito professionale. #[a(href="/node-setup-progetto", title="Setup di un progetto Node / Express") Continua...]
  div(class="published") Pubblicato il <time datetime="2023-12-21">21 dicembre 2023</time>