section(class="side")
  div(class="submenu graphs") 
    h3 Analisi grafiche

    div(class="graph")
      h4 Lavorare nello Sviluppo Web, un confronto Napoli vs. Italia 
      p Stipendio Web Developer: quanto guadagni lavorando a Napoli rispetto alla media italiana. <br> #[a(href="/grafici/#stipendio-developer-napoli", title="Stipendio Web Developer: quanto guadagni lavorando a Napoli rispetto alla media italiana") Guarda il grafico...]
      a(href="/grafici/#stipendio-developer", title="Stipendio medio degli sviluppatori in Italia") 
        img(src="/assets/images/graphs/stipendi-developer-napoli-preview-min.png", alt="Stipendio medio degli sviluppatori in Italia")

    div(class="graph")
      h4 Quanto si guadagna in Italia come developer?
      p La MEDIA DEGLI STIPENDI in Italia nel campo dello sviluppo Web e Mobile App. <br> Il confronto è fatto tra i dati dei portali Indeed e Joobydoo. #[a(href="/grafici/#stipendio-developer", title="Stipendio medio degli sviluppatori in Italia") Guarda il grafico...]
      a(href="/grafici/#stipendio-developer", title="Stipendio medio degli sviluppatori in Italia") 
        img(src="/assets/images/graphs/stipendi_developer-preview-min.png", alt="Stipendio medio degli sviluppatori in Italia")

      