aside(id="side")
  div(class="submenu analyses") 
    h3 Analisi

    div(class="analysis")
      h4 I framework Web più utilizzati dagli sviluppatori
      p La classifica dei framework Web più utilizzati a livello globale nel 2023. <br> #[a(href="/grafici/#framework-web-developers-2023", title="I framework Web più utilizzati dagli sviluppatori") Guarda il grafico...]
      a(href="/grafici/#framework-web-developers-2023", title="I framework Web più utilizzati dagli sviluppatori") 
        picture 
          source(media="(max-width: 768px)", srcset="/assets/images/graphs/framework-web-developer-preview-m-min.png")
          img(loading="lazy" width="1080" height="360" src="/assets/images/graphs/framework-web-developer-preview-s-min.png", alt="I framework Web più utilizzati dagli sviluppatori")

    div(class="analysis")
      h4 I linguaggi di programmazione più utilizzati dagli sviluppatori nel mondo
      p La classifica dei 10 "linguaggi di programmazione" più utilizzati dagli sviluppatori nel mondo. <br> #[a(href="/grafici/#linguaggi-programmazione", title="I linguaggi di programmazione più utilizzati dagli sviluppatori nel mondo") Guarda il grafico...]
      a(href="/grafici/#linguaggi-programmazione", title="I linguaggi di programmazione più utilizzati dagli sviluppatori nel mondo") 
        picture 
          source(media="(max-width: 768px)", srcset="/assets/images/graphs/linguaggi-programmazione-developer-preview-m-min.png")
          img(loading="lazy" width="1080" height="360" src="/assets/images/graphs/linguaggi-programmazione-developer-preview-s-min.png", alt="I linguaggi di programmazione più utilizzati dagli sviluppatori nel mondo")

    div(class="analysis")
      h4 Lavorare nello Sviluppo Web, un confronto Napoli vs. Italia 
      p Stipendio Web Developer: quanto guadagni lavorando a Napoli rispetto alla media italiana. <br> #[a(href="/grafici/#stipendio-developer-napoli", title="Stipendio Web Developer: quanto guadagni lavorando a Napoli rispetto alla media italiana") Guarda il grafico...]
      a(href="/grafici/#stipendio-developer-napoli", title="Confronto stipendio medio degli sviluppatori in Italia Vs Napoli") 
        picture 
          source(media="(max-width: 768px)", srcset="/assets/images/graphs/stipendi-developer-napoli-preview-m-min.png")
          img(loading="lazy" width="1080" height="360" src="/assets/images/graphs/stipendi-developer-napoli-preview-s-min.png", alt="Confronto stipendio medio degli sviluppatori in Italia Vs Napoli")

    div(class="analysis")
      h4 Quanto si guadagna in Italia come developer?
      p La MEDIA DEGLI STIPENDI in Italia nel campo dello sviluppo Web e Mobile App. <br> Il confronto è fatto tra i dati dei portali Indeed e Joobydoo. #[a(href="/grafici/#stipendio-developer", title="Stipendio medio degli sviluppatori in Italia") Guarda il grafico...]
      a(href="/grafici/#stipendio-developer", title="Stipendio medio degli sviluppatori in Italia") 
        picture 
          source(media="(max-width: 768px)", srcset="/assets/images/graphs/stipendi_developer-preview-m-min.png")
          img(loading="lazy" width="1080" height="360" src="/assets/images/graphs/stipendi_developer-preview-s-min.png", alt="Stipendio medio degli sviluppatori in Italia")

