section#side {
  width: 20%!important;
  padding-left: var(--view-padding);
}

#side .graph  {
  margin-bottom: var(--x-large-space);
}
#side .graph img {
  width: 100%;
  border: 1px solid var(--darker-gray);
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  section#side {
    width: 100%!important;
    padding: 0;
  }
}