section(class="side")
  div(class="graph")
    div(class="submenu graphs") 
      h3 Analisi grafiche
      h4 Quanto si guadagna in Italia come developer?
      p La MEDIA DEGLI STIPENDI in Italia nel campo dello sviluppo Web e Mobile App. <br> Il confronto è fatto tra i dati dei portali Indeed e Joobydoo. #[a(href="/grafici/#stipendio-developer", title="Stipendio medio degli sviluppatori in Italia") Guarda il grafico...]
      a(href="/grafici/#stipendio-developer", title="Stipendio medio degli sviluppatori in Italia") 
        img(src="/assets/images/graphs/stipendi_developer-preview-min.png", alt="Stipendio medio degli sviluppatori in Italia")