extends ../../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="")
  meta(name="keywords" content="")
  meta(name="robots" content="")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content="")
  meta(name="og:type" content="")
  meta(name="og:title" content="")
  meta(name="og:site_name" content="")
  meta(name="og:description" content="")
  meta(name="og:image" content="")

block main
  h1 JAVASCRIPT CLOSURE: cosa sono e a cosa servono (con esempi concreti)
  p(class="intro") Tutte le volte che ho dovuto affrontare il discorso CLOSURE in JS finivo per avere una impressione riassumibile nella frase: "Tutto molto bello, ma... QUINDI?"
  h2 Cosa sono le closure in JavaScript?
  p Una closure è la capacità di una funzione, definita all'interno di un'altra funzione contenitrice, di accedere allo scope della funzione esterna, anche dopo che questa ha cessato la sua esecuzione.<br/>Attraverso le closure, insomma, posso accedere allo scope (metodi e attributi) di una funzione (quella contenitrice) da un qualsiasi ambito esterno.
  p Ecco un esempio di closure.

  p(class="codepen" data-height="450" data-default-tab="js" data-slug-hash="BaqMBOa" data-preview="true" data-editable="true" data-user="programmazione-web-italia" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;")
  script(async src="https://cpwebassets.codepen.io/assets/embed/ei.js")

  h2 Come utilizzo la closure appena creata?
  p Ora posso accedere alla variabile "x" anche da un ambito "esterno" alla funzione in cui è definita (nell'esempio: "funzioneContenitrice")
  p Un esempio di utilizzo della closure definita in precedenza...

  p(class="codepen" data-height="730" data-default-tab="js" data-slug-hash="PoXjmRN" data-preview="true" data-editable="true" data-user="programmazione-web-italia" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;")
  script(async src="https://cpwebassets.codepen.io/assets/embed/ei.js")
