div(class="preview")
  div(class="badge css") #[a(href="/css", title="CSS") CSS]
  h2
    a(href="/css-selettore-has-esempi", title="Il selettore :has() in CSS - descrizione ed esempi pratici") Il selettore :has() in CSS - descrizione ed esempi pratici
  a(href="/css-selettore-has-esempi", title="Il selettore :has() in CSS - descrizione ed esempi pratici") 
    picture 
      source(media="(max-width: 414px)", srcset="/assets/images/post/004-css-selettore-has/css-selettore-has-s.webp")
      source(media="(max-width: 768px)", srcset="/assets/images/post/004-css-selettore-has/css-selettore-has-m.webp")
      img(loading="lazy", width="512", height="340", src="/assets/images/post/004-css-selettore-has/css-selettore-has-s.webp", alt="Il selettore :has() in CSS - descrizione ed esempi pratici")

  p Il selettore :has(), proposto nelle specifiche CSS level 4, fin dalla fine del 2023 è adottato dalla maggior parte dei browser: è giunto il momento di capire come utilizzare questa nuova opportunità.

  h2 Il selettore :has() in CSS4
  p Il selettore :has() consente agli sviluppatori di selezionare elementi del DOM che contengono al loro interno elementi che rispondono al selettore passato come parametro nella funzione: :has(). E' essenzialmente #[em un selettore che permentte di ottenere il "parent"] degli elementi definiti attraverso il parametro.
  p Provo a fare un semplice esempio chiarificatore #[a(href="/css-selettore-has-esempi", title="Il selettore :has() in CSS - descrizione ed esempi pratici") Continua...]
  div(class="published") Pubblicato il <time datetime="2024-03-22">22 marzo 2024</time>