aside(id="fb-page-wrap")
  div(class="fb-page" data-href="https://www.facebook.com/profile.php?id=100086483013646" data-tabs="" data-width="240" data-height="" data-lazy="true" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
  p Gli #[em aggiornamenti più recenti] sono pubblicati sulla <br>#[a(class="ext" title="Pagina Facebook di PWI" href=socials[0].url) pagina Facebook di PWI!]<br><br>Seguimi anche attraverso i miei Social
  div(class="socials") 
    each social in socials
      a(href=social.url, title=social.name)
        i(class=social.icon)