aside(id="fb-page-wrap")
  p Gli #[em aggiornamenti più recenti] sono pubblicati sulla <br>#[a(class="ext" title="Pagina Facebook di PWI" href=socials[0].url) pagina Facebook di PWI!]<br><br>#[a(class="ext" title="Pagina Facebook di PWI" href=socials[0].url) Entra] a fare parte del gruppo!
  div(class="fb-page" data-href="https://www.facebook.com/profile.php?id=100086483013646" data-tabs="" data-width="308" data-height="" data-lazy="true" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")