aside#fb-page-wrap {
  width: auto!important;
  margin: var(--x-large-space);
  text-align: center;
  border-bottom: 1px solid var(--primary);
  border-top: 1px solid var(--primary);
  border-right: none!important;
}

aside#fb-page-wrap {
  /* border-color: var(--blue); */
  border-left: none;
}
aside#fb-page-wrap::before {
  content: none;
}

@media screen and (max-width: 768px) {
  aside#fb-page-wrap {
    margin: 0;
  }
}