#main-logo {
  font-size: var(--font-size-huge);
  font-weight: 500;
}

#main-logo img {
  height: 4rem;
  margin-right: var(--xx-small-space);
  border-radius: 50%;
  border: 1px solid var(--lighter-gray);
  padding: 3px;
}

#main-logo span {
  display: inline-block;
}

#main-logo a {
  display: flex;
  align-items: center;
}

#main-logo small {
  display: block;
  font-weight: 500;
  font-style: italic;
}
