#main-logo {
  font-size: var(--font-size-biggest);
  width: 100%;
}

#main-logo img {
  height: 4rem;
  border-radius: 50%;
  border: 1px solid var(--black);
  margin: 0 var(--view-padding);
}

#main-logo a {
  display: flex;
  align-items: center;
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: var(--text-shadow)
}

#main-logo small {
  display: block;
  font-weight: 500;
  font-style: italic;
  text-transform: none;
}

#main-logo .col {
  position: absolute;
  display: block;
  right: 0;
  height: 100%;
  top: 0;
  width: 5rem;
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--white);
  line-height: var(--large-space);
  border-left: 0.1rem solid var(--white);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
#main-logo .col.html {
  background-color: rgba(239, 89, 49, .5);
  background-image: url('/assets/images/icons/html.png');
  right: 20rem;
}
#main-logo .col.css {
  background-color: rgba(0, 100, 158, .5);
  background-image: url('/assets/images/icons/css.png');
  right: 15rem;
}
#main-logo .col.js {
  background-color: rgba(245, 130, 51, .5);
  background-image: url('/assets/images/icons/js.png');
  right: 10rem;
}
#main-logo .col.eng {
  background-color: rgba(249, 188, 16, .5);
  background-image: url('/assets/images/icons/eng.png');
  right: 5rem;
}
#main-logo .col.node {
  background-color: rgba(2, 110, 0, .5);
  background-image: url('/assets/images/icons/node.png');
}

#main-logo span.mob {
  display: none;
}


@media screen and (max-width: 1024px) {
  #main-logo {
    font-size: var(--font-size-huge);
  }
  #main-logo .col {
    width: 3.5rem;
  }
  #main-logo .col.html {
    right: 14rem;
  }
  #main-logo .col.css {
    right: 10.5rem;
  }
  #main-logo .col.js {
    right: 7rem;
  }
  #main-logo .col.eng {
    right: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  #main-logo {
    font-size: var(--font-size-biggest);
  }
  #main-logo span.mob {
    display: inline;
  }
  #main-logo span.desk {
    display: none;
  }
  #main-logo .col {
    width: 5rem;
    height: 1.3rem;
    font-size: 0;
  }
  #main-logo .col.html {
    right: 20rem;
  }
  #main-logo .col.css {
    right: 15rem;
  }
  #main-logo .col.js {
    right: 10rem;
  }
  #main-logo .col.eng {
    right: 5rem;
  }
  #main-logo img {
    display: none;
  }
  #main-logo {
    padding: 0 var(--view-padding);
  }
}
