div(class="preview")
  h2
    a(href="/curriculum-efficace-esempio-developer", title="Un esempio di Curriculum Vitae efficace per trovare lavoro come software developer") Un esempio di Curriculum Vitae efficace per trovare lavoro come software developer
  a(href="/curriculum-efficace-esempio-developer", title="Un esempio di Curriculum Vitae efficace per trovare lavoro come software developer") 
    picture 
      source(media="(max-width: 414px)", srcset="/assets/images/post/007-curriculum-efficace-esempio-developer/CV-cover-s.webp")
      source(media="(max-width: 768px)", srcset="/assets/images/post/007-curriculum-efficace-esempio-developer/CV-cover-m.webp")
      img(loading="lazy", width="512", height="640", src="/assets/images/post/007-curriculum-efficace-esempio-developer/CV-cover-s.webp", alt="Un esempio di Curriculum Vitae efficace per trovare lavoro come software developer")

  p(class="intro") In pochi paragrafi un Curriculum Vitae deve essere in grado di descriverci a persone che di noi nulla sanno... Anni di studio e lavoro condensati in una o due facciate, massimo. Un foglio (o file PDF) messo in competizione con tanti altri, generalmente tutti uguali. Come far emergere le nostre peculiarità e le nostre competenze? <br>Qui di seguito una serie di suggerimenti ed una proposta di template. Ma la prima regola rimane... NO file Word! 

  h3 Introduzione
  p Lo scopo di questo articolo è quello di aiutare a redigere un #[em Curriculum Vitae sintetico, facile da consultare ed efficace] nel comunicare, a chi lo legge, le nostre competenze e la nostra personalità. Il Curriculum che andremo a redigere è focalizzato sulla descrizione delle competenze di uno sviluppatore software, ma può essere facilmente adattato ad ogni altra figura professionale interessata ad applicare questi suggerimenti.
  p Sarà un CV molto #[em focalizzato sulle caratteristiche personali] di chi lo redige: ad una classica sezione "Su di me" affiancheremo delle frasi d'effetto (considerazioni o citazioni) e una sezione basata sui progetti personali del candidato. In questo modo potranno emergere la personalità e la peculiare visione che il candidato ha circa la propria attività, non limitando il testo ad una sterile elencazione di competenze tecniche.
  p La sezioni, i titoli e i paragrafi, gli elenchi sono fatti in modo tale da essere il più possibile chiari anche ai #[em software di analisi automatica], caratteristica che si traduce in maggiore efficenza e tempo risparmiato al candidato.
  p Il CV sarà il più possibile #[em sintetico (massimo 2 facciate)] ma esaustivo, riportando solo i dettagli più salienti e lasciando spazio ad eventuali approfondimenti da discutere in sede di colloquio. #[a(href="/curriculum-efficace-esempio-developer", title="Un esempio di Curriculum Vitae efficace per trovare lavoro come software developer") Continua...]
  div(class="published") Pubblicato il <time datetime="2024-05-10">10 maggio 2024</time>