#breadcrumbs {
  border-bottom: 1px solid rgba(62, 120, 232, .2);
  border-top: 1px solid rgba(62, 120, 232, .2);
  text-align: center;
  background-color: rgba(62, 120, 232, .2);
  padding: var(--xx-small-space) var(--view-padding);

  font-size: var(--font-size-small);
  display: flex;
  justify-content: center;
  align-items: center;
}

#breadcrumbs nav {
  margin-left: var(--x-small-space);
}

#breadcrumbs span, #breadcrumbs a {
  font-weight: 500;
}

#breadcrumbs a:not(:first-child)::before {
  content: '\2192';
  margin: .2rem;
  color: var(--primary);
}
#breadcrumbs a {
  color: var(--primary);
}
#breadcrumbs a[href] {
  color: var(--link);
}