if breadcrumbs
  div(id="breadcrumbs") Sei in: 
    nav
      a(href="/", title="Home") Home
      each elem in breadcrumbs
        if elem.url
          a(href=elem.url, title=elem.name) #{elem.name}
        else 
          span #{elem.name}
