aside(id="coffee", class="marisa")
  h2 "Questo articolo ti è stato utile? <br>#[em Offrimi un caffè] &#128516;"
  p Ogni sviluppatore produce #[em codice partendo da una tazza di caffè], la stessa cosa vale per me.
  p La tua donazione apparirà nella #[a(href="/supporters", title="Vai alla pagina dei Supporter") pagina dei Supporter], assicurati di lasciare anche un tuo messaggio: lo pubblicherò!
  p #[i Ti ringrazio...]
  div 
    form(action="https://www.paypal.com/donate", method="post" target="_top")
      input(type="hidden", name="hosted_button_id", value="KXPEP2FFGC86S")
      input(type="image", src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donateCC_LG.gif", name="submit", title="PayPal - The safer, easier way to pay online!", alt="Fai una donazione con il pulsante PayPal")
      img(alt="", src="https://www.paypal.com/it_IT/i/scr/pixel.gif", width="1", height="1")
  picture 
      source(media="(max-width: 768px)", srcset="/assets/images/marisa-donation.webp")
      img(loading="lazy", width="225", height="225", src="/assets/images/marisa-donation.webp", alt="Marisa", id="marisa-coofee")