aside(id="coffee", class="marisa")
  h2 "Questo articolo ti è stato utile? <br>#[em Offrimi un caffè] &#128516;"
  p Ogni sviluppatore produce #[em codice partendo da una tazza di caffè], la stessa cosa vale per me.
  p La tua donazione apparirà nella #[a(href="/supporters", title="Vai alla pagina dei Supporter") pagina dei Supporter], assicurati di lasciare anche un tuo messaggio: lo pubblicherò!
  p #[i Ti ringrazio...]
  div 
    form(action='https://www.paypal.com/donate' method='post' target='_top')
      input(type='hidden' name='hosted_button_id' value='F3Z65H82B4XA6')
      input(type='image' src='https://pics.paypal.com/00/s/NGZiYmMwOGYtZThjYS00NDViLTk4Y2YtNDFmOGYwMDllYmI3/file.JPG' border='0' name='submit' title='PayPal - The safer, easier way to pay online!' alt='Fai una donazione con il pulsante PayPal')
      img(alt='' border='0' src='https://www.paypal.com/it_IT/i/scr/pixel.gif' width='1' height='1')
