aside(id="coffee")
  h2 Queste informazioni ti sono state utili? 
  p Ogni sviluppatore produce #[em codice partendo da una tazza di caffè], la stessa cosa vale per me.
  img(alt="Coffee", src="/assets/images/coffee-min.png", id="cup")
  p Se pensi che questo articolo ti sia stato utile, prendi in considerazione di #[em offrirmi un piccolo supporto (un "caffè")] per sostenere il mio lavoro. <br><br> #[i Ti ringrazio...]
  div 
    form(action="https://www.paypal.com/donate", method="post" target="_top")
      input(type="hidden", name="hosted_button_id", value="KXPEP2FFGC86S")
      input(type="image", src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donateCC_LG.gif", name="submit", title="PayPal - The safer, easier way to pay online!", alt="Fai una donazione con il pulsante PayPal")
      img(alt="", src="https://www.paypal.com/it_IT/i/scr/pixel.gif", width="1", height="1")