aside(id="coffee")
  h2 Queste informazioni ti sono state utili? 
  p Anche il mio codice è prodotto a partire da una tazza di caffè, se ti è stato utile prendi in considerazione il fatto di supportare il mio progetto. I messaggi lasciati dai Sostenitori saranno pubblicati in questa sezione!
  div 
    form(action="https://www.paypal.com/donate", method="post" target="_top")
      input(type="hidden", name="hosted_button_id", value="KXPEP2FFGC86S")
      input(type="image", src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donateCC_LG.gif", border="0", name="submit", title="PayPal - The safer, easier way to pay online!", alt="Fai una donazione con il pulsante PayPal")
      img(alt="", border="0", src="https://www.paypal.com/it_IT/i/scr/pixel.gif", width="1", height="1")