#coffee {
  text-align: center;
  margin: var(--x-large-space);
  border: none;
  border-top: 1px solid var(--red);
  background-color: var(--rt);
}
#coffee::before {
  content: none;
}
#coffee h2 {
  color: var(--red);
  text-align: center;
  display: block;
}
#coffee h2::before {
  content: none;
}
#coffee form {
  margin-top: var(--normal-space);
}
#coffee #cup {
  width: 15%;
}

@media screen and (max-width: 768px) {
  aside#coffee {
    margin: var(--x-large-space) 0;
  }
  #coffee #cup {
    width: 30%;
  }
}