:root {
  /* COLORS */
  ---black: #252525;
  ---white: #FBFBFB;
  ---padding: calc(var(--view-padding) * 3) calc(var(--view-padding) * 10);
}

html {
  font-size: 16px!important;
}
body, section {
  /* padding: 0!important; */
  margin: 0!important;
}
header {
  padding: 0 var(--view-padding)!important;
}
p {
  line-height: 150%!important;
}
a.btn {
  color: #ca3001;
}
figcaption {
  text-align: center;
  font-style: italic!important;
  color: var(--dark-gray);
}



.intro .head {
  background-color: var(---black);
  color: var(---white);
}
.intro .head > div {
  padding: var(---padding);
}
.intro .head h1 { 
  text-transform: uppercase;
  font-size: calc(var(--font-size-biggest) * 1.5);
  font-weight: bold;
  padding-top: var(--xx-large-space);
  margin-bottom: 0;
}
.intro .head h2 { 
  font-style: italic;
}


.intro .footer {
  display: flex;
  justify-content: space-between;
  padding: 0 calc(var(--view-padding) * 10);
}
.intro .footer .responsive {
  width: 60%;
}
.intro .footer .cta {
  width: 30%;
}

.intro .footer img {
  width: 100%;
  height: auto;
  position: relative;
  top: -3rem;
}
.intro .footer .cta {
  background-color: white;
  position: relative;
  top: -6rem;
  padding: 1rem;
}


.cta {
  background-color: rgba(249,98,33,0.1);
}
.cta h2 {
  text-align: center;
  margin-bottom: var(--x-large-space);
}
.cta > div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.cta a {
  display: block;
  font-size: var(--font-size-huge);
  margin-top: var(--x-large-space);
}
.cta > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.cta > div > div::before {
  content: ' ';
  display: block;
  height: var(--xx-large-space);
  width: var(--xx-large-space);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: var(--normal-space);
  background-image: url('/assets/images/icons/svg/phone-solid.svg');
}
.cta > div > div:nth-child(1)::before {
  background-image: url('/assets/images/icons/svg/phone-solid.svg');
}
.cta > div > div:nth-child(2)::before {
  background-image: url('/assets/images/icons/svg/envelope-solid.svg');
}


.near {
  padding: var(---padding)!important;
  margin: 4rem auto!important;
  background-color: rgba(2, 89, 139, 0.1);
  border-top: 1px solid rgb(2, 89, 139);
  text-align: center;
  position: relative;
}
.near h2 {
  text-align: center;
}
.near::after {
  content: ' ';
  display: block;
  height: var(--x-large-space);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/assets/images/landing/friuli.webp');
  top: 0;
  right: 0;
  width: 4rem;
  position: absolute;
  height: 4rem;
  padding: var(--xx-small-space);
}


.features {
  padding: var(---padding)!important;
  margin: 0 auto!important;
}
.features h2 {
  font-weight: bold;
}
.features ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.features li {
  list-style: none;
  width: 24%;
}
.features li h2::before {
  content: ' ';
  display: block;
  height: var(--x-large-space);
  width: var(--x-large-space);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: var(--normal-space);
}
.features li:nth-child(1) h2::before {
  background-image: url('/assets/images/icons/svg/file-lines-solid.svg');
}
.features li:nth-child(2) h2::before {
  background-image: url('/assets/images/icons/svg/quote-left-solid.svg');
}
.features li:nth-child(3) h2::before {
  background-image: url('/assets/images/icons/svg/rocket-solid.svg');
}
.features li:nth-child(4) h2::before {
  background-image: url('/assets/images/icons/svg/magnifying-glass-chart-solid.svg');
}