aside(id="breaktime", class="marisa")
  h2 "Intervallo...!!!"
  p Siamo a buon punto e le basi dell'argomento trattato sono già state affrontate.<br>Prendiamoci un momento di #[em relax]!
  div(class="test")
    div(class="code")
      h4 Curiosità di JavaScript: somma di due array, indovina il risultato della seguente operazione...
      code
        pre [] + []
  div(class="result")
    div(class="code")
      h4 Clicca #[a(id="showresult", href="#", title="Clicca per vedere il risultato") qui] per vedere il risultato
      code(class="hidden")
        pre '' // Stringa vuota!
  