section#sideside {
  width: 20%!important;
  padding-left: var(--view-padding);
  border-right: none!important;
}
@media screen and (max-width: 768px) {
  section#sideside {
    width: 100%!important;
    padding: 0;
  }
}