section(class="sideside") 
  div(class="submenu topic")
    h3 Topic 
    ul 
      li(class="html") #[a(href="/html", title="HTML") HTML (1)]
      li(class="css") CSS (0)
      li(class="js") #[a(href="/javascript", title="JavaScript") JavaScript (1)]

  div(class="submenu months")
    h3 Archivio 
    ul 
      li Novembre 2023 (0)
      li #[a(href="/ottobre-2023", title="Ottobre 2023") Ottobre 2023 (1)]
      li #[a(href="/settembre-2023", title="Settembre 2023") Settembre 2023 (1)]

  div(class="submenu socials")
    h3 Social 
    p Gli #[em aggiornamenti più recenti] sono pubblicati sulle seguenti piattaforme 
    ul 
      each social in socials
        li
          a(href=social.url, title=social.name) #[i(class=social.icon)] #{social.name}
            
    p #[em Scrivimi] per commentare o suggerire come migliorare i contenuti
    ul
      li 
        a(href="mailto:marco@progweb.it", title="Mail") #[i(class="icon-envelop")] marco@progweb.it