#html main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#html main section.content {
  width: 80%;
  border-right: 1px dashed var(--lighter-gray);
  
}
#html main section.sideside {
  width: 20%;
}

#html .post {
  margin-bottom: var(--xx-large-space);
}
#html .post img {
  width: 50%;
}
#html .post .published {
  font-size: var(--font-size-small);
  font-style: italic;
}
#html .post .published time {
  font-weight: 500;
}
#html .post p:nth-of-type(1) {
  font-weight: 200;
  font-style: italic;
}