- 
  let links = [
    {
      id: 'home',
      name: 'Home',
      url: '/',
      class: 'icon-home'
    },
    {
      id: 'post',
      name: 'Post',
      url: '/posts'
    },
    {
      id: 'analisys',
      name: 'Analisi',
      url: '/grafici'
    },
    {
      id: 'privacy',
      name: 'Privacy',
      url: '/privacy'
    },
    {
      id: 'contatti',
      name: 'Contatti',
      url: '/contatti'
    }
  ] 
span(class="hamburger icon-menu") 
nav(id="main-menu")
  span(class="close icon-close")
  ul
    each link in links
      li(class = (id === link.id) ? "active" : "")
        if link.class
          span(class=link.class)
        a(href=link.url, title=link.name) #{link.name.toUpperCase()}



  