table {
  width: 75%;
  margin: 2rem auto;
  color: #000;
  background-color: #FFF;
}

th {
  font-weight: bold;
}

tbody tr:hover {
  color: #FFF;
  background-color: #000;
}

th, td {
  text-align: left;
  padding: 0.3rem 0.2rem;
  border: 1px solid #999;
}
