.table-wrap {
  overflow: auto;
}

table {
  color: #000;
  background-color: #FFF;
  border-collapse: collapse;
  margin: 0 auto;
}
 
caption {
  margin: .5rem 0;
  font-weight: bold;
}
th {
  font-weight: bold;
}
 
/* Effetto hover sulle righe della tabella */ 
tbody tr:hover {
  color: #FFF;
  background-color: #000;
}
 
th, td {
  text-align: left;
  padding: .3rem .2rem;
  border-bottom: 1px solid #999;
}