div(class="preview")
  div(class="badge coding") #[a(href="/coding", title="Coding") Coding]
  h2
    a(href="/javascript-html-tabella-dinamica", title="Tabella dinamica in HTML, Javascript e CSS - parte 2: popolare una tabella HTML con dati ottenuti da sorgenti remote") Tabella dinamica in HTML, Javascript e CSS - parte 2: <br>popolare una tabella HTML con dati ottenuti da sorgenti remote
  a(href="/javascript-html-tabella-dinamica", title="Tabella dinamica in HTML, Javascript e CSS - parte 2: popolare una tabella HTML con dati ottenuti da sorgenti remote") 
    picture 
      source(media="(max-width: 414px)", srcset="/assets/images/post/005-javascript-html-tabella-dinamica/javascript-html-tabella-dinamica-step2-s.webp")
      source(media="(max-width: 768px)", srcset="/assets/images/post/005-javascript-html-tabella-dinamica/javascript-html-tabella-dinamica-step2-m.webp")
      img(loading="lazy" width="512" height="640" src="/assets/images/post/005-javascript-html-tabella-dinamica/javascript-html-tabella-dinamica-step2-s.webp", alt="Tabella dinamica in HTML, Javascript e CSS - parte 2: popolare una tabella HTML con dati ottenuti da sorgenti remote")

  h3 Nella parte precedente...
  p ... Abbiamo ricreato una semplice e funzionale tabella che mostra i dati di tre ipotetici utenti; una ottima soluzione in caso di tabelle molto brevi e dati statici, ma cosa succederebbe se i dati fossero nell'ordine delle decine o centinaia? E cosa succederebbe se questi dati fossero serviti tramite JSON da servizi esterni? In questi casi è necessario sviluppare una soluzione dinamica che si occupi di eseguire il fetch (reperimento) dei dati ed il conseguente popolamento dinamico della tabella. <br>Lo vediamo in questo capitolo.

  h2 Popolare una tabella HTML con dati ottenuti da sorgenti remote 

  p L'obiettivo è quello di popolare la tabella in maniera dinamica attraverso dati provenienti da una sorgente remota, per fare questo sarà necessario aggiungere un file JavaScript in cui gestiremo la chiamata remota e creazione delle righe della tabella. La sorgente esterna sarà fornita dalla url: #[i https://jsonplaceholder.typicode.com/users], un servizio a scopo didattico che fornisce una lista di utenti in formato JSON.
  p La situazione iniziale prevede un file HTML simile al precedente, ma in questo caso non ci sarà alcun contenuto all'interno del tag &lt;tbody&gt;: questo sarà aggiunto dinamicamente. Ecco il contenuto. #[a(href="/javascript-html-tabella-dinamica", title="Tabella dinamica in HTML, Javascript e CSS - parte 2: popolare una tabella HTML con dati ottenuti da sorgenti remote") Continua...]
  div(class="published") Pubblicato il <time datetime="2024-05-02">02 maggio 2024</time>
  
  