div(class="preview")
  div(class="badge coding") #[a(href="/coding", title="Coding") Coding]
  h2
    a(href="/javascript-html-tabella-dinamica", title="Tabella dinamica in HTML, Javascript e CSS - Parte 1: una tabella statica") Tabella dinamica in HTML, Javascript e CSS - Parte 1: una tabella statica
  a(href="/javascript-html-tabella-dinamica", title="Tabella dinamica in HTML, Javascript e CSS - Parte 1: una tabella statica") 
    picture 
      source(media="(max-width: 414px)", srcset="/assets/images/post/005-javascript-html-tabella-dinamica/javascript-html-tabella-dinamica-s.webp")
      source(media="(max-width: 768px)", srcset="/assets/images/post/005-javascript-html-tabella-dinamica/javascript-html-tabella-dinamica-m.webp")
      img(loading="lazy" width="512" height="640" src="/assets/images/post/005-javascript-html-tabella-dinamica/javascript-html-tabella-dinamica-s.webp", alt="Tabella dinamica in HTML, Javascript e CSS - Parte 1: una tabella statica")

  p Funzionalità come il sorting e la paginazione permettono di interagire con una tabella in maniera più veloce ed efficente, spesso ci si affida a soluzioni di terzi, ma in questa guida vorrei farvi provare a sviluppare una tabella dinamica partendo da zero e utilizzando solo le versioni vanilla di HTML, JavaScript e CSS. Spero di esservi utile!

  h2 Introduzione
  p La nostra #[em tabella dinamica] si svilupperà in maniera progressiva partendo da una semplice soluzione statica con i dati tabellari scritti a mano dallo sviluppatore, procedendo con l'inserimento di dati ottenuti attraverso una chiamata HTTP e aggiungendo, infine, funzionalità più avanzate come la paginazione, il sorting e il filtering. Le varie sezioni saranno elaborate in momenti differenti e potrebbero non essere ancora disponibili: incoraggiate il mio lavoro condividendo questa pagina o mettendo un like! 
  
  h2 Una semplice tabella statica HTML 
  p Per iniziare e per ripassare un poco l'argomento, sviluppiamo una #[em semplice tabella HTML] utilizzando i tag previsti nelle specifiche HTML5. Qui di seguito scrivo il codice che definisce una tabella per un insieme di ipotetici utenti. #[a(href="/javascript-html-tabella-dinamica", title="Tabella dinamica in HTML, Javascript e CSS - Parte 1: una tabella statica") Continua...]
  div(class="published") Pubblicato il <time datetime="2024-03-29">29 marzo 2024</time>
  
  