aside(id="share")
  h2 Condividi questo contenuto tra i tuoi contatti!
  div
    div(class="fb-like" data-href=(proj_url + url) data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true")
    script(type="IN/FollowCompany" data-id="86379680" data-counter="bottom")