#share {
  text-align: center;
  margin: var(--normal-space);
  border: none;
  border-top: 1px solid var(--blue);
}
#share::before {
  content: none;
}
#share h2 {
  color: var(--blue);
  text-align: center;
  display: block;
}
#share h2::before {
  content: none;
}
#share section {
  width: 100%;
}