#share {
  text-align: center;
  margin: var(--x-large-space);
  border: none;
  border-top: 1px solid var(--blue);
  background-color: rgba(2, 89, 139, .03);
}
#share::before {
  content: none;
}
#share h2 {
  color: var(--blue);
  text-align: center;
  display: block;
}
#share h2::before {
  content: none;
}
#share section {
  width: auto!important;
  border: none!important;;
}

#share {
  width: auto!important;
  border-right: none!important;
  padding-bottom: var(--xx-large-space);
}

@media screen and (max-width: 768px) {
  aside#share {
    margin: var(--x-large-space) 0;
  }
}