div(id="socials")
  span Segui su: 
  each social in socials
    a(href=social.url, title=social.name)
      i(class=social.icon)
  a(href="mailto:info@progweb.it", title="Mail")
    i(class="icon-envelop")
