div(class="preview")
  h2
    a(href="/analisi/confronto-portali-ecommerce-moda-italiani", title="Tech Review dei principali portali e-commerce di moda in Italia") Tech Review dei principali portali e-commerce di moda in Italia
  a(href="/analisi/confronto-portali-ecommerce-moda-italiani", title="Tech Review dei principali portali e-commerce di moda in Italia") 
    picture 
      source(media="(max-width: 414px)", srcset="/assets/images/analysis/confronto-portali-ecommerce-moda-italiani/cover-og-image-s.webp")
      source(media="(max-width: 768px)", srcset="/assets/images/analysis/confronto-portali-ecommerce-moda-italiani/cover-og-image-m.webp")
      img(loading="lazy" width="512" height="512" src="/assets/images/analysis/confronto-portali-ecommerce-moda-italiani/cover-og-image-s.webp", alt="Tech Review dei principali portali e-commerce di moda in Italia")

  p(class="intro") Confronto tra i maggiori portali di e-commerce di moda italiani in termini di: Performance 🚀, Accessibilità ♿, Best Practice ⭐, SEO 🔎 e Sicurezza 🛡.

  h3 Analisi tecnica dei portali e-commerce
  p #[em Categoria]: PRINCIPALI E-COMMERCE DI MODA ITALIANI
  br
  p L'analisi è stata svolta con l'ausilio di strumenti quali #[a(class="ext", href="https://developer.chrome.com/docs/lighthouse?hl=it", target="_blanck") Google Lighthouse] e #[a(class="ext", href="https://observatory.mozilla.org/", target="_blanck") Mozilla Observatory].
  br
  h3 Risultati generali
  p L'#[em accessibilità] e le #[em regole SEO] sono in generale sviluppate in maniera sufficente ma senza senza politiche applicative ben definite può capitare che certe sezioni siano carenti da questi punti di vista.
  p #[em Critico, invece, è il discorso sicurezza]: regole basilari e di facile implementazione vengono trascurate offrendo il fianco a diverse tipologie di attacco.
  p In generale le #[em performance] sono gravate da una interfaccia ricca e immagini ad alta risoluzione, dovute al fatto che il prodotto venduto debba essere ben visibile fin nei suoi piccoli particolari. Un possibile ottimizzazione potrebbe derivare dall'utilizzo dei tag &lt;picture&gt; e source&gt; per caricare immagini di differente grandezza a seconda delle dimensioni dello schermo. Per esempio:
  p Vediamo più in dettaglio i risultati delle analisi, iniziamo con le Performance... #[a(href="/analisi/confronto-portali-ecommerce-moda-italiani", title="Tech Review dei principali portali e-commerce di moda in Italia") Continua...]

  div(class="published") Pubblicato il <time datetime="2024-06-06">6 giugno 2024</time>