header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header section:nth-child(1) {
  padding: 0;
  padding-bottom: var(--x-small-space);
}
header section:nth-child(2) {
  position: relative;
  background-color: var(--primary);
  padding: var(--view-padding) 0;
}
header section:nth-child(3) {
  border-bottom: 2px solid var(--primary);
  justify-content: flex-end;
  height: calc(var(--view-padding) * 2);
}

#toggle-dark {
  cursor: pointer;
}
#toggle-dark::after {
  content: "Darkmode";
  font-family: 'Montserrat', sans-serif;
  margin-left: var(--xx-small-space);
  vertical-align: text-bottom;
  font-size: var(--font-size-very-small);
  font-style: italic;
  color: var(--primary);
}