header
  div
    i(id="toggle-dark", class="icon-adjust")
    include ./social-icons/social-icons.pug
  div 
    include ./main-logo/main-logo.pug
  div
    a(href=proj_url, title="Home page")
      img(src="/assets/images/logo_s-min.png", alt=proj_name)
    include ./main-menu/main-menu.pug
  include ./breadcrumbs/breadcrumbs.pug
  