header
  div
    i(id="toggle-dark", class="icon-adjust")
    include ./social-icons/social-icons.pug
  div 
    include ./main-logo/main-logo.pug
  div
    img(src="/assets/images/logo-min.png", alt=proj_name)
  