extends ../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="")
  meta(name="keywords" content="")
  meta(name="robots" content="")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content="")
  meta(name="og:type" content="")
  meta(name="og:title" content="")
  meta(name="og:site_name" content="")
  meta(name="og:description" content="")
  meta(name="og:image" content="")

block main
  section(class="content")
    h1 #{title}
    div(class="entry", id="stipendio-developer")
      h2 Quanto si guadagna come developer?
      p La MEDIA DEGLI STIPENDI in Italia nel campo dello sviluppo Web e Mobile App. Il confronto è fatto tra i dati dei portali Indeed e Joobydoo.
      div(class="published") Pubblicato il <time datetime="2023-09-07">7 Settembre 2023</time>
      img(src="/assets/images/graphs/stipendi_developer-min.png", alt="Grafico dello stipendio medio degli sviluppatori in Italia")
      
  section(class="sideside") 
    div(class="graph")
      h3 Quanto si guadagna in Italia come developer?
      p La MEDIA DEGLI STIPENDI in Italia nel campo dello sviluppo Web e Mobile App. <br> Il confronto è fatto tra i dati dei portali Indeed e Joobydoo. #[a(href="/grafici/#stipendio-developer", title="Stipendio medio degli sviluppatori in Italia") Guarda il grafico...]
      a(href="/grafici/#stipendio-developer", title="Stipendio medio degli sviluppatori in Italia") 
        img(src="/assets/images/graphs/stipendi_developer-preview-min.png", alt="Stipendio medio degli sviluppatori in Italia")

