#analisys .entry img {
  width: 75%;
  display: block;
  margin: 0 auto;
  margin-top: var(--normal-space);
}

#analisys .entry {
  margin-bottom: calc(var(--xx-large-space) * 2);
}


@media screen and (max-width: 768px) {
  #analisys .entry img {
    width: 100%;
  }
}