html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:0 0 1px transparent;
  text-rendering: optimizeLegibility;
  letter-spacing: .03rem;
  color: var(--primary);
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: var(--view-padding);
  padding-bottom: 0;
}

main {
  flex: auto;
}
main section, main article {
  padding: var(--view-padding);
  padding-left: 0;
  margin: var(--view-padding) var(--view-padding) var(--view-padding) 0;
}

a {
  color: var(--link);
  text-decoration: none;
  position: relative;
  font-weight: 500;
}
a:hover {
  filter: brightness(80%);
}
a.ext::after {
  content: '\21F1';
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: 9px;
  right: 0;
}

em, .em {
  font-weight: 500;
}

i {
  font-style: italic;
}

.code {
  font-family: monospace;
}

p {
  margin: var(--x-small-space) 0;
  line-height: 130%;
}

small {
  font-size: 50%;
}

ul, ol {
  margin: var(--normal-space);
  padding-left: var(--normal-space);
  list-style: auto;
}
ul li, ol li {
  margin: var(--small-space) 0;
}

.hide {
  display: none!important;
}
.show {
  display: block!important;
}

.green {
  color: var(--green);
}
.red {
  color: var(--red);
}
.blue {
  color: var(--blue);
}

.tworows {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.tworows section, .tworows article {
  width: 80%;
  border-right: 1px dashed var(--lighter-gray);
  
}
.tworows section.sideside, .tworows section.side {
  width: 20%;
  border-right: none;
}

.badge {
  background-color: rgba(169, 169, 169, .1);
  border-top: 1px solid var(--darker-gray);
  border-bottom: 1px solid var(--darker-gray);
  border-left: var(--normal-space) solid var(--darker-gray);
  color: var(--darker-gray);
  text-transform: uppercase;
  padding: var(--xx-small-space) var(--normal-space);
  margin: var(--xx-small-space) 0;
  display: inline-block
}
.badge a {
  color: var(--darker-gray);
  font-weight: bold;
}
.badge.html {
  background-color: rgba(239, 89, 49, .1);
  border-color: var(--html);
}
.badge.js {
  background-color: rgba(245, 130, 51, .1);
  border-color: var(--js);
}
.badge.eng {
  background-color: rgba(37, 136, 12, .1);
  border-color: var(--eng);
}

.submenu {
  margin-bottom: var(--xx-large-space);
}
.submenu h3 {
  text-transform: uppercase;
  text-align: center;
  color: var(--darker-gray);
  font-weight: bold;
  border-top: 1px dashed var(--darker-gray);
  border-bottom: 1px dashed var(--darker-gray);
  padding: var(--small-space) 0;
  font-size: 90%;
}
.submenu li {
  list-style: none;
}
.submenu.topic li {
  border-left: var(--normal-space) solid var(--darker-gray);
  padding-left: var(--x-small-space)
}
.submenu.topic li.html {
  border-color: var(--html);
}
.submenu.topic li.css {
  border-color: var(--css);
}
.submenu.topic li.js {
  border-color: var(--js);
}
.submenu.topic li.eng {
  border-color: var(--eng);
}

.preview {
  margin-bottom: var(--large-space);
}
.preview img {
  width: 20%;
  margin: 0 var(--x-large-space) 0 0;
  float: left;
  border: 1px solid var(--lighter-gray);
  box-sizing: border-box;
}
.preview .published {
  font-size: var(--font-size-small);
  text-align: right;
  font-style: italic;
  margin-top: var(--normal-space);
}
.preview .published time {
  font-weight: 500;
}
.preview p:nth-of-type(1) {
  font-weight: 200;
  font-style: italic;
}

blockquote {
  margin: var(--xx-large-space);
}
blockquote p {
  padding: var(--large-space);
  background-color: var(--lighter-gray);
  border-bottom: 1px solid var(--dark-gray);
}
blockquote p::before {
  content: '\201C';
}
blockquote p::after {
  content: '\201D';
}






/* POST */
article {
  counter-reset: step;
}
.intro {
  font-style: italic;
  font-weight: 500;
  position: relative;
  width: fit-content;
  max-width: 75%;
  margin: var(--x-large-space) auto;
  padding: var(--normal-space);
  text-align: center;
  color: var(--dark-gray);
}
.intro:before {
  content: "\201C";
  font-size: var(--font-size-biggest);
  position: absolute;
  left: 0;
  top: 0;
}
.intro:after {
  content: "\201C";
  font-size: var(--font-size-biggest);
  transform: rotate(180deg);
  position: absolute;
  left: 0;
  bottom: 0;
}

.cp_embed_wrapper {
  margin: var(--large-space) 0 var(--xx-small-space);
}

.penref {
  font-size: var(--font-size-small);
  font-style: italic;
}

article h2:before {
  counter-increment: step;
  content: counter(step);
  border: 1px solid var(--darker-gray);
  border-radius: 50%;
  width: var(--x-large-space);
  height: var(--x-large-space);
  margin-right: 1rem;
  font-size: var(--font-size-bigger);
  display: inline-block;
  text-align: center;
  line-height: var(--x-large-space);
}

aside {
  padding: var(--x-large-space);
  margin-top: var(--x-large-space);
  border-left: var(--x-large-space) solid var(--lighter-gray);
}
aside h2 {
  margin-bottom: var(--x-large-space);
}
aside h3 {
  margin-top: 0;
}
aside li {
  margin-bottom: var(--small-space);
}
aside.links {
  border-color: var(--blue);
}
aside.links h2::before {
  content: none;
}
/* POST */



@media screen and (max-width: 768px) {
  .preview img {
    width: 100%;
    float: none;
    margin: 0;
  }
}


