html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:0 0 1px transparent;
  text-rendering: optimizeLegibility;
  letter-spacing: .03rem;
  color: var(--primary);
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
}

main {
  padding: var(--xx-large-space) var(--view-padding);
  flex: auto;
}
main section {
  margin: var(--section-margin) 0;
}

a {
  color: var(--blue);
  text-decoration: none;
  position: relative;
}
a.ext::after {
  content: '\21F1';
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: 9px;
  right: 0;
}

em, .em {
  font-weight: 500;
}

i {
  font-style: italic;
}

.code {
  font-family: monospace;
}

p {
  margin: var(--x-small-space) 0;
  line-height: 130%;
}

small {
  font-size: 50%;
}

.hide {
  display: none!important;
}
.show {
  display: block!important;
}

.green {
  color: var(--green);
}
.red {
  color: var(--red);
}
.blue {
  color: var(--blue);
}

/* POST */
.intro {
  font-style: italic;
  font-weight: 500;
  margin: var(--large-space) 0;
}

.cp_embed_wrapper {
  margin: var(--large-space) 0 var(--xx-small-space);
}

.penref {
  font-size: var(--font-size-small);
  font-style: italic;
}

aside {
  padding: var(--normal-space);
  margin-top: var(--x-large-space);;
}
aside h2 {
  margin-bottom: var(--x-large-space);
}
aside li {
  margin-bottom: var(--small-space);
}
aside.links {
  background-color: var(--white);
}
/* POST */
