article {
  counter-reset: step;
}

article h1 {
  text-align: center;
}

article .intro {
  font-style: italic;
  font-weight: 500;
  position: relative;
  width: fit-content;
  max-width: 75%;
  margin: var(--xx-large-space) auto;
  padding: var(--normal-space);
  text-align: center;
}
article .intro:before {
  content: "\201C";
  font-size: calc( var(--font-size-biggest) * 1.5 );
  position: absolute;
  left: 0;
  top: 0;
}
article .intro:after {
  content: "\201C";
  font-size: calc( var(--font-size-biggest) * 1.5 );
  transform: rotate(180deg);
  position: absolute;
  left: 0;
  bottom: 0;
}

article img.cover {
  margin: 0 auto;
  display: block;
  max-width: 75%;
  height: auto;
}

article .cp_embed_wrapper {
  margin: var(--large-space) 0 var(--xx-small-space);
}

article .penref {
  font-size: var(--font-size-small);
  font-style: italic;
}

article h2 {
  margin-top: var(--xx-large-space);
}
article h2:nth-of-type(2), article aside:nth-of-type(1), article .code:nth-of-type(1), article h3:nth-of-type(2) {
  clear: both;
}

article h2:before {
  counter-increment: step;
  content: counter(step);
  border: 1px solid var(--darker-gray);
  border-radius: 50%;
  width: var(--x-large-space);
  height: var(--x-large-space);
  margin-right: 1rem;
  font-size: var(--font-size-bigger);
  display: inline-block;
  text-align: center;
  line-height: var(--x-large-space);
}
article .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
article .img-wrapper img {
  max-width: 100%;
  margin: var(--large-space) 0;
}

article aside {
  padding: var(--x-large-space);
  margin-top: var(--x-large-space);
  border-left: var(--x-large-space) solid var(--lighter-gray);
  position: relative;
}
article aside::before {
  content: 'Approfondimento';
  position: absolute;
  top: 0;
  left: var(--x-large-space);
  color: var(--light-gray);
  font-style: italic;
}
article aside h2 {
  margin-bottom: var(--x-large-space);
}
article aside h3 {
  margin-top: 0;
}
article aside li {
  margin-bottom: var(--small-space);
}
article aside.links {
  border-color: var(--blue);
}
article aside.links::before {
  content: none;
}
article aside.links h2::before {
  content: none;
}


@media screen and (max-width: 1366px) {

}

@media screen and (max-width: 1024px) {
  article img.cover {
    float: none;
    width: 100%;
    max-width: none;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  article .img-wrapper {
    flex-direction: column;
  }
}