#sep2023 main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#sep2023 main section.content {
  width: 80%;
}

#sep2023 .post {
  margin-bottom: var(--xx-large-space);
}
#sep2023 .post img {
  width: 50%;
}
#sep2023 .post .published {
  font-size: var(--font-size-small);
  font-style: italic;
}
#sep2023 .post .published time {
  font-weight: 500;
}
#sep2023 .post p:nth-of-type(1) {
  font-weight: 200;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  #sep2023 .post img {
    width: 100%;
    float: none;
    margin: 0;
  }
}